services:
  webserver:
    userns_mode: "keep-id:uid=1001,gid=1001"
    restart: no
    build:
      context: ./src
      dockerfile: ./Dockerfile
      target: development
    volumes:
      - runner-home:/home/runner
      - type: bind
        source: ./src
        target: /home/runner/src
    ports:
      - "8080:8080"
      - "5173:5173"

volumes:
  runner-home:

x-podman:
  in_pod: false

